/* ---- Colors:
dark blue : #2a325f
darker blue: #1c1d3a
table border/ and maybe buttons: #f98d8a
main  green color: #bcfb83
 ------ */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fredoka+One&family=Shadows+Into+Light&display=swap');

/*
font-family: 'Shadows Into Light', cursive;
font-family: 'Fredoka One', cursive;
*/

/* ------- GENERAL ---- */
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body
{
  height: 100%;
  font-size: 100%;
  overflow: hidden;
}

button
{
  cursor: pointer;
}

a
{
  text-decoration: none;
}
/* ------------------------------------------- */
/* -------- Home Page Layout --------------- */

/* ---- Containers --- */

#homePageContainer
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #2a325f;
}

#homePageHeader
{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homePageLogOptionContainer
{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinCreateOptionContainers
{
  width: 50%;
  height: 50%;
  margin-top: 80px;
}

#OptionButtonContainer
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#createRoomContainer, #joinRoomContainer
{
  display: flex;
  flex-direction: column;
  flex-direction: space-around;
  justify-content: space-around;
  align-items: center;
}

/*  --OptionButtonContainer Content ---- */
#toCreateRoomBtn,#toJoinRoomBtn,#toVsCpuBtn
{
  margin: 25px 0;
  width: 250px;
  height: 4rem;
  padding: 15px 15px;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f98d8a;
  border: 1px solid #f98d8a;
  font-weight:bold;
  cursor: pointer;
  box-shadow: 3px 3px 5px 3px black;
}
#toVsCpuBtn a
{
  color: black;
  padding-top: 0.9em;
  padding-bottom: 0.8em;
  padding-left: 5.4em;
  padding-right: 5.4em;
}

#toCreateRoomBtn:hover,#toJoinRoomBtn:hover,#toVsCpuBtn:hover
{
  box-shadow: none;
}

/* ----------- home Page header content ------------ */

#homePageTitle
{
  font-size: 6em;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 3px 3px black;
  color: #bcfb83;
  text-transform: uppercase;
}

.homePageLogo
{
  height: 80px;
  width: 80px;
}

/* --------------createRoomContainer, joinRoomContainer Content -------------*/
.createJoinInputs
{
  width: 400px;
  padding: 20px 15px;
  border: 5px solid #f98d8a;
  background-color: #1c1d3a;
  border-radius: 4px;
  font-size: 2em;
  font-family: 'Fredoka One', cursive;
  color:white;
}

.JoinCreateOptionContainers div
{
  width: 50%;
  height: 25%;
  display: flex;
}

.createJoinBackBtns
{
  height: 90%;
  width: 30%;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f98d8a;
  border: 1px solid #f98d8a;
  font-weight:bold;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 3px 3px 5px 3px black;
}

.createJoinBtnsF
{
  height: 90%;
  width: 60%;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #bcfb83;
  border: 1px solid #bcfb83;
  font-weight:bold;
  cursor: pointer;
  box-shadow: 3px 3px 5px 3px black;
}

.createJoinBackBtns:hover
{
  box-shadow: none;
}

.createJoinBtnsF:hover
{
  box-shadow: none;
}

/* ----------------------roomContainer ------------- */
#roomContainer
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1c1d3a;
}

#vsCpuHeader
{
  height: 10%;
  width: 100%;
  display: flex;
}

#vsCpuHeader div
{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- vsCpuHeader --- */

#exitRoomBtnContainer
{
  width: 10%;
}

#vsCpuHeaderExitBtn
{
  background-color: #f98d8a;
  border: 2px solid #f98d8a;
  color: black;
  height: 50%;
  width: 60%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
}

#vsCpuHeaderExitBtn:hover
{
  border-color: #bcfb83;
}

#roomPlayerCountContainer
{
  width: 20%;
}

#roomPlayerCount
{
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  color: white;
}

#roomTitle
{
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  letter-spacing: 2px;
  color: #bcfb83;
}

#roomTitleContainer
{
  width: 70%;
}

#roomChatContainer
{
  width: 30%;
}

#roomChatOpener
{
  font-size: 1.6em;
  font-family: 'Fredoka One', cursive;
  color: darkgrey;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

/* -------------------- */

#vsCpuTable
{
  height: 90%;
  width: 100%;
  border-radius: 50px;
  border: 5px solid #bcfb83;
  background-color: #2a325f;
  display: flex;
  flex-direction: column;
}

#vsCpuTableUp
{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#vsCpuTableMiddle
{
  height: 60%;
  width: 100%;
  display: flex;
}

#vsCpuTableDown
{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------- CardsContainer Layout ------------- */

#cardsContainerOponent
{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
}

#finishBtnContainer,#drawBtnContainer
{
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardsContainerProponent
{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
}


#finishBtnContainer button,#drawBtnContainer button
{
  height: 80%;
  width: 60%;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f98d8a;
  border: 2px solid black;
  font-weight:bold;
  cursor: pointer;
  border-radius: 25px;
}

#finishBtnContainer button:hover,#drawBtnContainer button:hover
{
  border-color: #bcfb83;
}

/* ------------- Table Middle Containers ----------------- */
#TableLeftSide
{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TableMiddle
{
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#TableRightSide
{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------- CardHolderDivs ------------------ */
#cardDeckContainer
{
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jokerSuitCardCover
{
  margin-left: -10px;
  transform: rotate(90deg);
}

#cardDeckContainerTrash
{
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsPositions
{
  height: 218px;
  width: 75px;
  display: flex;
  flex-direction: column;
}

.attackPositions
{
  height: 109px;
  width: 75px;
}

.defendPositions
{
  height: 109px;
  width: 75px;
  z-index: 1;
  margin-top: -50px;
}

/* ----------------------Cards------------------------------------ */
.card
{
  height: 109px;
  width: 75px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#deckCoverCard
{
  background-image: url('../assets/cards/backsite_suite.png');
  z-index: 1;
  margin-right: -40px;
  height: 96px;
  width: 70px;
}

#deckCoverCardTrash
{
  background-image: url('../assets/cards/backsite_suite.png');
  height: 96px;
  width: 70px;
  visibility: hidden;
}

/* -------------- CARD SUITs/BACKGROUNDs ---------------*/


/* -- ALL 6 --*/
#club6
{
  background-image: url('../assets/cards/6_club.png');
}

#diamond6
{
  background-image: url('../assets/cards/6_diamond.png');
}

#heart6
{
  background-image: url('../assets/cards/6_heart.png');
}

#spade6
{
  background-image: url('../assets/cards/6_spade.png');
}

/* -- ALL 7 -- */

#club7
{
  background-image: url('../assets/cards/7_club.png');
}

#diamond7
{
  background-image: url('../assets/cards/7_diamond.png');
}

#heart7
{
  background-image: url('../assets/cards/7_heart.png');
}

#spade7
{
  background-image: url('../assets/cards/7_spade.png');
}

/* -- ALL 8 -- */

#club8
{
  background-image: url('../assets/cards/8_club.png');
}

#diamond8
{
  background-image: url('../assets/cards/8_diamond.png');
}

#heart8
{
  background-image: url('../assets/cards/8_heart.png');
}

#spade8
{
  background-image: url('../assets/cards/8_spade.png');
}

/* -- ALL 9 --- */

#club9
{
  background-image: url('../assets/cards/9_club.png');
}

#diamond9
{
  background-image: url('../assets/cards/9_diamond.png');
}

#heart9
{
  background-image: url('../assets/cards/9_heart.png');
}

#spade9
{
  background-image: url('../assets/cards/9_spade.png');
}

/*  -- ALL 10 -- */

#club10
{
  background-image: url('../assets/cards/10_club.png');
}

#diamond10
{
  background-image: url('../assets/cards/10_diamond.png');
}

#heart10
{
  background-image: url('../assets/cards/10_heart.png');
}

#spade10
{
  background-image: url('../assets/cards/10_spade.png');
}

/* -- ALL J --*/

#clubJ
{
  background-image: url('../assets/cards/j_club.png');
}

#diamondJ
{
  background-image: url('../assets/cards/j_diamond.png');
}

#heartJ
{
  background-image: url('../assets/cards/j_heart.png');
}

#spadeJ
{
  background-image: url('../assets/cards/j_spade.png');
}

/* -- ALL Q --*/

#clubQ
{
  background-image: url('../assets/cards/q_club.png');
}

#diamondQ
{
  background-image: url('../assets/cards/q_diamond.png');
}

#heartQ
{
  background-image: url('../assets/cards/q_heart.png');
}

#spadeQ
{
  background-image: url('../assets/cards/q_spade.png');
}

/* -- ALL K --*/

#clubK
{
  background-image: url('../assets/cards/k_club.png');
}

#diamondK
{
  background-image: url('../assets/cards/k_diamond.png');
}

#heartK
{
  background-image: url('../assets/cards/k_heart.png');
}

#spadeK
{
  background-image: url('../assets/cards/k_spade.png');
}

/* -- ALL A -- */

#clubA
{
  background-image: url('../assets/cards/a_club.png');
}

#diamondA
{
  background-image: url('../assets/cards/a_diamond.png');
}

#heartA
{
  background-image: url('../assets/cards/a_heart.png');
}

#spadeA
{
  background-image: url('../assets/cards/a_spade.png');
}

.oponentCard
{
  height: 99px;
  width: 72px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-image: url('../assets/cards/backsite_suite.png');
}

.myCardHover{}
.myCardHover:hover
{
  transition: margin 0.5s;
  margin-top: -15px;
}
/* ------------------------------------------------------------ */

/* ---------------------------------- overlay -----------------------*/

#resultOverlay
{
  width: 100%;
  height: 90%;
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,0.6);
}

#resultTitle
{
  font-size: 4em;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 4px;
  font-weight: "bold";
  color: #bcfb83;
  text-transform: uppercase;
}

.resultOverlayBtns
{
  margin: 25px 0;
  width: 200px;
  height: 3rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #f98d8a;
  border: 2px solid #f98d8a;
  font-family: 'Fredoka One', cursive;
  font-weight:bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultOverlayBtns:hover
{
  border-color: #bcfb83;
}
/* -------------------------------------------------------- */
/* --------------    Chat  ----------------------------*/
#chatBoxContainer
{
  position: absolute;
  border: 1px solid black;
  background-color: #1c1d3a;
  height: 40%;
  width: 30%;
  display: none;
  flex-direction: column;
  z-index: 99;
  top:0;
  right: 0;
}

#chatBoxContainerHeader
{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#chatBoxContainerHeader button
{
  height: 90%;
  width: 20%;
  color: #bcfb83;
  background-color: #1c1d3a;
  border-color: #1c1d3a;
  font-size: 1em;
}

#chatBox
{
  width: 100%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  word-wrap: break-word;
  padding: 5px;
  overflow: auto;
}

#chatBox p
{
  color: #1c1d3a;
}

#chatBoxSendContainer
{
  height: 14%;
  width: 100%;
  display: flex;
  align-items: center;
}

#chatBoxSendContainer input
{
  width: 80%;
  height: 90%;
  border: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

#chatBoxSendContainer button
{
  width: 20%;
  height: 80%;
  background-color: #bcfb83;
  color: #1c1d3a;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
}

/* --------------------------------------------------------------- */
