<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Durak</title>
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <meta name='viewport', content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="style/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous'></script>
    <script src="/socket.io/socket.io.js" defer ></script>
    <script src="script/script.js" defer ></script>
  </head>
  <body>
    <div id="homePageContainer">

      <div id="homePageHeader">
        <img src="assets/logo/cards_logo.png" class="homePageLogo"/><h1 id="homePageTitle">durak</h1><img src="assets/logo/cards_logo.png" class="homePageLogo"/>
      </div> <!-- end of homePageHeader -->

      <div id="homePageLogOptionContainer">

        <div id="OptionButtonContainer" class="JoinCreateOptionContainers">
          <button id="toCreateRoomBtn">create room</button>
          <button id="toJoinRoomBtn">join room</button>
          <button id="toVsCpuBtn"><a href="vscpu">vs ai</a></button>
        </div> <!-- end of OptionButtonContainer -->

        <div id="createRoomContainer" class="JoinCreateOptionContainers">
          <input type="text" id="createRoomInput" placeholder="room name" class="createJoinInputs" required/>
          <div>
            <button id="createRoomBackBtn" class="createJoinBackBtns">back</button>
            <button id="createRoomBtn" class="createJoinBtnsF">create room</button>
          </div>
        </div> <!-- end of createRoomContainer -->

        <div id="joinRoomContainer" class="JoinCreateOptionContainers">

          <input type="text" id="joinRoomInput" placeholder="room name" class="createJoinInputs" required/>
          <div>
            <button id="joinRoomBackBtn" class="createJoinBackBtns">back</button>
            <button id="joinRoomBtn" class="createJoinBtnsF">join room</button>
          </div>

        </div> <!-- end of joinRoomContainer -->

      </div> <!-- end of homePageLogOptionContainer -->

    </div> <!-- end of homePageContainer -->

    <div id="roomContainer">
      <div id="vsCpuHeader">
        <div id="exitRoomBtnContainer">
          <a href="/" id="vsCpuHeaderExitBtn">exit</a>
        </div>
        <div id="roomPlayerCountContainer">
          <h1 id="roomPlayerCount"></h1>
        </div>
        <div id="roomTitleContainer">
          <h1 id="roomTitle"></h1>
        </div>
        <div id="roomChatContainer">
          <h1 id="roomChatOpener">chat</h1>
        </div>
      </div> <!-- end of vsCpuHeader -->
      <div id="vsCpuTable">
        <div id="vsCpuTableUp">
          <div id="cardsContainerOponent">
          </div><!-- enf of cardsContainerOponent -->
        </div> <!-- enf of vsCpuTableUp -->
        <div id="vsCpuTableMiddle">
          <div id="TableLeftSide">
            <div id="cardDeckContainer">
              <div id="deckCoverCard"></div>
            </div> <!-- cardDeckContainer -->
          </div> <!-- enf of TableLeftSide -->
          <div id="TableMiddle">
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition0">
              </div>
              <div class="defendPositions" id="defendPosition0">
              </div>
            </div>
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition1">
              </div>
              <div class="defendPositions" id="defendPosition1">
              </div>
            </div>
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition2">
              </div>
              <div class="defendPositions" id="defendPosition2">
              </div>
            </div>
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition3">
              </div>
              <div class="defendPositions" id="defendPosition3">
              </div>
            </div>
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition4">
              </div>
              <div class="defendPositions" id="defendPosition4">
              </div>
            </div>
            <div class="cardsPositions">
              <div class="attackPositions" id="attackPosition5">
              </div>
              <div class="defendPositions" id="defendPosition5">
              </div>
            </div>
          </div> <!-- enf of vsCpuTableMiddle -->
          <div id="TableRightSide">
            <div id="cardDeckContainerTrash">
              <div id="deckCoverCardTrash"></div>
            </div>
          </div>
        </div> <!-- end of vsCpuTableMiddle -->
        <div id="vsCpuTableDown">
          <div id="finishBtnContainer"><button id="finishBtn">finish</button></div> <!-- left Btn -->
          <div id="cardsContainerProponent">
          </div> <!-- end of cardsContainerProponent -->
          <div id="drawBtnContainer"><button id="drawBtn">draw</button></div> <!-- right Btn -->
        </div>
      </div> <!-- end of vsCpuTable -->
    </div> <!-- end of vsCpuPageContainer-->
    <div id="chatBoxContainer">
      <div id="chatBoxContainerHeader"><button id="closeChatBoxBtn">X</button></div>
      <div id="chatBox">
      </div>
      <div id="chatBoxSendContainer">
        <input type="text" id="messageInput" /><button id="sendMessageBtn">send</button>
      </div>
    </div>
  </body>
</html>
